@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* REMOVE ARROWS ON INPUTS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .select-highlight {
    @apply selection:bg-strong-cyan selection:text-very-dark-cyan;
  }
  .select-highlight-reverse {
    @apply selection:bg-very-dark-cyan selection:text-strong-cyan;
  }
}

@layer utilities {
  /* custom ulitily classes */
}
